@import "../variables";
@import "../breakpoints";

.header {
  @include for-large {
    height: 101px;
    background-color: $pink;
    padding: 39px 130px 0;
  }

  &__logo {
    @include for-large {
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }

  &__description {
    @include for-large {
      display: block;
      font-size: 18px;
      line-height: 25px;
      color: $color-text-opacity;
    }
  }

  &__navigation {
    @include for-large {
      width: 292px;
      height: 25px;
      display: flex;
      align-items: center;
      margin-top: 7px;
      border: none;
    }

    &-icon {
      @include for-large {
        display: none;
      }
    }

    &-list {
      @include for-large {
        width: 273px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 25px;
      }
    }

    &_arrow {
      @include for-large {
        width: 5px;
        height: 8px;
        display: flex;
        align-items: center;
        padding-left: 11px;
      }
    }
  }

  &__start-btn {
    @include for-large {
      display: block;
      width: 160px;
      height: 48px;
      margin-left: 56px;
      background-color: $blue;
      color: $white;
      cursor: pointer;
    }
  }
}