@import "../variables";

.header {
  height: 64px;
  display: flex;

  &__logo {
    width: 48px;
    height: 48px;
    margin: auto 0 auto 15px;
  }

  &__title-container {
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: $text-bold;
    font-size: 20px;
    line-height: 25px;
  }

  &__description {
    display: none;
  }

  &__navigation {
    width: 58px;
    margin-left: auto;
    border-left: 1px solid #00000026;

    &-icon {
      width: 18px;
      height: 13px;
      display: flex;
      margin: 26px auto 25px;
      cursor: pointer;
    }

    &-list {
      display: none;

      &-item {
        text-decoration: none;
        color: $color-text-main;
        cursor: pointer;
      }
    }

    &_arrow {
      display: none;
    }
  }

  &__start-btn {
    display: none;
  }
}