@import "../variables";

.features {

  &__container {
    padding: 40px 15px;
    border-bottom: 1px solid $grey;
  }

  > :first-child {
    padding-top: 48px;
  }

  > :last-child {
    padding-bottom: 50px;
    border: none;
  }

  &__name {
    margin: 0;
    font-weight: $text-bold;
    font-size: 22px;
    line-height: 34px;
    color: $green;
  }

  &__title {
    margin: 0;
    padding-top: 17px;
    font-weight: $text-bold;
    font-size: 40px;
    line-height: 40px;
  }

  &__description {
    padding-top: 15px;
    font-size: 24px;
    line-height: 34px;
  }

  &__image-container {
    margin: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    &_image {
      max-width: 100%;
    }

    &_caption {
      padding-top: 20px;
      text-align: center;
    }
  }
}