.customers {

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    :last-child{
      border-right: none;
    }
  }

  &__container {
    width: 107px;
    height: 94px;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
  }

  &__logo {
    max-width: 70%;
    filter: brightness(0);
  }
}