@import "../variables";

.hiring {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    font-weight: $text-bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    text-align: center;
  }

  &__description {
    margin: 0;
    padding-top: 18px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  &__start-btn {
    margin: 30px 0 25px;
    background-color: $blue;
    color: $white;
  }

  &__vacancy {
    height: 140px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(43, 41, 5, 0.2);
    border-radius: 8px;

    &-info {
      height: 100%;
      padding: 19px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_title {
        margin: 0;
        font-weight: $text-bold;
        font-size: 22px;
        line-height: 28px;
      }

      &_description {
        font-size: 16px;
        line-height: 22px;
        color: $color-text-opacity;
      }

      &_arrow {
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D5D4D5;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        cursor: pointer;
      }
    }
  }
}