@import "buttons/buttons";
@import "header/header";
@import "header/header-for-large";
@import "header/headline";
@import "header/headline-for-large";
@import "about/about";
@import "about/about-for-large";
@import "customers/customers";
@import "customers/customers-for-large";
@import "features/features";
@import "features/features-for-large";
@import "inbox/inbox";
@import "inbox/inbox-for-large";
@import "communication/communication";
@import "communication/communication-for-large";
@import "audience/audience";
@import "audience/audience-for-large";
@import "feedback/feedback";
@import "feedback/feedback-for-large";
@import "hiring/hiring";
@import "hiring/hiring-for-large";
@import "order/order";
@import "order/order-for-large";
@import "footer/footer";
@import "footer/footer-for-large";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  color: $color-text-main;
}