@import "buttons/buttons";
@import "header/header";
@import "header/headline";
@import "about/about";
@import "customers/customers";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  color: $color-text-main;
}